@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Colors and styling  */
:root{
    --primaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: inner-gradient (to right, hsl(199, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColof: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
}

.main{
    width: 100%;
}

.title{
    position: relative;
    width: max-content;
    color: var(--textColor);
    margin: 1rem 0;
    z-index: 2;
}
.title::after{
    position: absolute;
    content: '';
    background: var(--SecondaryColor);
    height: 5px;
    width: 120px;
    right: 0;
    bottom: 5px;
    z-index: -1;
}

.Content{
    justify-content: center;
    gap: 1.5rem; 
    display: grid;  
}
.singleDestination{
    height: 100%;
    display: grid;
    row-gap: 10px;
    border-radius: 10px;
    align-items: center;
    background: var(--cardBG);
    box-shadow: 0 2px 4px rgba(140, 140,141, 0.549);
    overflow: hidden;
}
.singleDestination:hover{
    background-color: white;
    box-shadow: 1 4px 4px rgba(85, 85, 141, 0.549);
    transform: .3s ease;
}

.imageDiv{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.imageDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: 2s ease;
}
.imageDiv img:hover{
    transform: scale(1.1);
    
}

.cardInfo{
    padding: 1rem;
}

.desTitle{
    color: var(--blackColor);
    font-size: 1.25rem;
}
.continent{
    gap: .5rem;
}

.continent .icon3{
    color: var(--textColor);
    font-size: 18px;
}

.name{
    color: var(--textColor);
    font-weight: 400;
    font-size: 18px;
}
.fees{
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    margin: 1rem 0;
    border-top: 1.5px solid var(--greyText);
    border-bottom: 1.5px solid var(--greyText); 
}

.grade{
    color: var(--textColor);
    min-width: 100px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grade small{
    text-align: center;
    background: var(--primaryColor);
    border-radius: 1rem;
    color: white;
    padding: 1px 10px;
    font-size: 10px;
}

.price{
    font-size: 2rem;
    color: black;
}

.desc{
    font-size: 13.5px;
    color: var(--whiteColor);
    font-weight: 600;
    justify-content: space-between;
    gap: 0.5rem;
}
.btn{
    margin-top: 1rem;
    color: var(--whiteColor);
    font-weight: 600;
    gap: 0.5rem;
}
.icon4{
    align-items: center;
    font-size: 18px;
}


/* MEDIA QUIRIES ====================================== */

@media screen and (min-width: 500px) {
    .title{
        font-size: 1.5rem;
        &::after{
            width: 155px !important;
        }
    }
    .Content{
        grid-template-columns: repeat(2,1fr);

        .singleDestination{
            height: auto;
        }
    }
    
}

@media screen and (min-width: 840px) {
    .Content{
        grid-template-columns: repeat(3,1fr);

        .singleDestination{
            height: auto;
        }
    }    
}